body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u139_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u140 {
  position:absolute;
  left:480px;
  top:900px;
  width:478px;
  height:180px;
}
#u141 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u142 {
  position:absolute;
  left:958px;
  top:900px;
  width:480px;
  height:180px;
}
#u143 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u144 {
  position:absolute;
  left:1438px;
  top:900px;
  width:478px;
  height:180px;
}
#u145 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u146 {
  position:absolute;
  left:0px;
  top:900px;
  width:480px;
  height:180px;
}
#u147 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:350px;
}
#u148 {
  position:absolute;
  left:0px;
  top:550px;
  width:1916px;
  height:350px;
}
#u149 {
  position:absolute;
  left:2px;
  top:167px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u151 {
  position:absolute;
  left:2px;
  top:267px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u139_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u152 {
  position:absolute;
  left:480px;
  top:900px;
  width:480px;
  height:180px;
}
#u153 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:350px;
}
#u154 {
  position:absolute;
  left:0px;
  top:550px;
  width:1916px;
  height:350px;
}
#u155 {
  position:absolute;
  left:2px;
  top:167px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u157 {
  position:absolute;
  left:2px;
  top:267px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u158 {
  position:absolute;
  left:958px;
  top:900px;
  width:480px;
  height:180px;
}
#u159 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u160 {
  position:absolute;
  left:1438px;
  top:900px;
  width:478px;
  height:180px;
}
#u161 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u162 {
  position:absolute;
  left:0px;
  top:900px;
  width:480px;
  height:180px;
}
#u163 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u139_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u164 {
  position:absolute;
  left:958px;
  top:900px;
  width:480px;
  height:180px;
}
#u165 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u166 {
  position:absolute;
  left:0px;
  top:900px;
  width:480px;
  height:180px;
}
#u167 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:350px;
}
#u168 {
  position:absolute;
  left:0px;
  top:550px;
  width:1916px;
  height:350px;
}
#u169 {
  position:absolute;
  left:2px;
  top:167px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u171 {
  position:absolute;
  left:2px;
  top:267px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u172 {
  position:absolute;
  left:480px;
  top:900px;
  width:478px;
  height:180px;
}
#u173 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u174 {
  position:absolute;
  left:1438px;
  top:900px;
  width:478px;
  height:180px;
}
#u175 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u139_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u176 {
  position:absolute;
  left:1438px;
  top:900px;
  width:478px;
  height:180px;
}
#u177 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:350px;
}
#u178 {
  position:absolute;
  left:0px;
  top:550px;
  width:1916px;
  height:350px;
}
#u179 {
  position:absolute;
  left:2px;
  top:167px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:550px;
}
#u181 {
  position:absolute;
  left:2px;
  top:267px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:180px;
}
#u182 {
  position:absolute;
  left:480px;
  top:900px;
  width:478px;
  height:180px;
}
#u183 {
  position:absolute;
  left:2px;
  top:82px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u184 {
  position:absolute;
  left:958px;
  top:900px;
  width:480px;
  height:180px;
}
#u185 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u186 {
  position:absolute;
  left:0px;
  top:900px;
  width:480px;
  height:180px;
}
#u187 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u188 {
  position:absolute;
  left:1800px;
  top:450px;
  width:100px;
  height:100px;
  opacity:0.5;
}
#u188_img.mouseOver {
}
#u188.mouseOver {
  opacity:1;
}
#u189 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u190 {
  position:absolute;
  left:20px;
  top:450px;
  width:100px;
  height:100px;
  opacity:0.5;
}
#u190_img.mouseOver {
}
#u190.mouseOver {
  opacity:1;
}
#u191 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u192 {
  position:absolute;
  left:1843px;
  top:14px;
  width:60px;
  height:60px;
}
#u193 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#F8B62D;
}
#u194 {
  position:absolute;
  left:1672px;
  top:18px;
  width:169px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#F8B62D;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
